*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(5, 129, 77);
  color: white;
}

.App {
  text-align: center;
  height: 100vh;
  font-family: sans-serif;
  margin-top: 30px;
}

.heading{
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.score{
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choices{
  height: 25vh;
  display: flex;
  justify-content: center;
}

.computer-turn{
  width: 250px;
}

.user-turn{
  width: 250px;
  transform: rotateY(180deg);
}

.play-again{
  display: flex;
  justify-content: center;
  padding: 20px;

}

.button{
  width: 200px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: cornflowerblue;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem;
}

.play{
  width: 200px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color:coral;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem;
}

.result{
  padding: 50px;
}


